version: '3'
services:
  web:
    build: .
    restart: always
    environment:
      - DATABASE_URL=sqlite:////data/wtf_exam_system.db
    volumes:
      - ./instance_data:/data
    expose:
      - "5000"

  nginx:
    image: nginx:alpine
    ports:
      - "8888:8888"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static:/app/static
    depends_on:
      - web
